*~
*.idea
.idea/*
*.DS_Store
.env
provision/*
.vagrant/*
vendor/*
app/user/*
!app/user/.gitkeep
temp/*
!temp/.gitkeep
data/*
!data/.gitkeep
log/*
!log/.gitkeep
env/*
!env/.gitkeep
daemon/*
!daemon/.gitkeep
resource/config/parameter_prod.php
tests/_output/*
.vagrant/machines
*.zip
*.log
